.next
.cache
next-env.d.ts
next.config.ts
yarn.lock
package-lock.json
public
.github
.husky
dist
node_modules
e2e-dist
e2e-test-results
*.json
/build
.DS_Store
*.pem
*.log*
.env.*
.vercel
*.tsbuildinfo
logs
.swc
.vscode
.lintstagedrc.js
.prettierignore
